@import "../../responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  @include lg {
    // background: rgb(124, 124, 255);
    max-width: 1280px;
  }
  @include md {
    // background: rgb(255, 207, 117);
    max-width: 768px;
  }
  @include sm {
    //background: rgb(255, 117, 117);
    max-width: 640px;
  }

  .content {
    flex: 1;
  }
}
